.rodape {
    display: flex;
    justify-content: center;
    background-color: var(--preto);
}

.rodape p {
    font-weight: 400;
    font-size: 1em;
    color: var(--branco);
    padding: 5px;
    margin-top: 10px;
}