
.cards {
    margin: 10px 0;
}
.cardsbody {
    background-color: #f9fbfd;  
    font-family: 'Poppins', sans-serif;  
}

.cardsimg {
    height: 200px;
}

.cardslink {
    text-decoration: none;
    list-style: none;
}
