@import url('https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Montserrat:wght@100;200;300&family=Poppins:wght@100;200;400&family=Quicksand:wght@300;400;600;700&family=Roboto:wght@100&display=swap');

:root {
  --fonte: 'Montserrat', sans-serif;
  --branco: #FFFFFF;
  --preto: #000000;
  --cinza: #E2E2E2;
  --vermelho-cinema:#e41a1a;
  --preto-cinema: #111;
}

body {
  margin: 0;
  font-family: var(--fonte);
  font-weight: 400;
  background-color: var(--branco);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

section {
  padding: 25px 0;
}


