.capa {
    width: 100%;
    height: 500px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.capa h1 {
    color: var(--branco);
}

.capa p {
    color: var(--branco);
    
}

/* .capa::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    background-color: rgba(0, 0, 0, 0); 
} */
  /* bx - Class Filtro para clarear o container em cima do before que está escuro */
  .capa .bx {
    z-index: 999;
    position: relative;
    width: 100%;
    height: 440px;
    background-color: rgba(0, 0, 0, 0.9); /* Cor escura com opacidade (alpha) de 0.5 para o filtro escuro */
    margin-top: 2%;
    padding: 20px;
  }

  .capa h1 {
    font-family: 'Quicksand', sans-serif;
  }